body {
  margin: 0;
  padding-bottom: 4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Notosans";
  src: url(./fonts/NotoSansKR-VariableFont_wght.ttf);
}
